<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/stylesheet.css') }}?v=897897897897897897897899789789789789789789789789789123133">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald&display=swap" rel="stylesheet">
</head>
<body>
    <div class="sidebar left"></div>
    <div class="sidebar right"></div>
    <div class="logo"><a href="{{ url_for('main') }}"><img src="Logo.png" clas="logo" ></img></a></div>
    <div class="movieInfo">
    <span style="white-space: nowrap" class="movieName">{{ movieName }}</span>
    
    </div>
</body> 

</html>