 .logo{
    font-family: "Oswald", sans-serif;
    position: absolute;
    left: 50%;
    right: 50%;
}
body{
    background-color: rgb(77, 76, 76);
}
.sidebar{
    background-color: rgb(90, 2, 2);
    border: 1px solid black;
    width: 10%;
    height: 100%;
}
.left{
    position: absolute;
    padding-left: 5%;
    padding-top: 50px;
    left: 0;
    top: 0;
}
.right{
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 5%;
    padding-top: 50px;
}
.center{
    position:absolute;
    left:15.2%;
    width:69.7%;
    height:100%;
}
.searchBar{
    position: absolute;
    left:20%;
    right:80%;
    top:15%;
    height: 30px;
    width: 60%;
}
.submit{
    position: absolute;
    top: 15%;
    right:18%;
    height: 36px;
}
form > div {
    position: relative;
  }
form > div > label {
    position: absolute;
}
.Error{
    position: absolute;
    top: 25%;
    left: 29%;
    right: 71%
}