.top{
    font-family: sans-serif;    

}
.logo{
    position: absolute;
    left: 50%;
    right: 50%;
    font-family: Verdana;
}
.movieName{
    position: absolute;
    left: 25%;
    right: 75%;
    top: 20%;
    font-family: sans-serif;
}