.top{
    font-family: 'Open Sans', sans-serif; 

}
.logo{
    font-family: "Oswald", sans-serif;
    position: absolute;
    left: 50%;
    right: 50%;
    text-decoration: none;
    color: black;
    font-size: 1.5em;
}
.movieName{
    position: absolute;
    left: 30%;
    right: 70%;
    top: 20%;
    padding: 20px;
    padding-right: 40%;
    border: 5px solid black;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
    background-color: silver;
}
.movieInfo{
    padding: 200px;
    font-family:'Open Sans', sans-serif;
}
body{
    background-color: rgb(100, 100, 100);
}
.sidebar{
    background-color: rgb(90, 2, 2);
    border: 1px solid black;
    width: 10%;
    height: 100%;
}
.left{
    position: absolute;
    padding-left: 5%;
    padding-top: 50px;
    left: 0;
    top: 0;
}
.right{
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 5%;
    padding-top: 50px;
}
.poster{
    position: absolute;
    left: 30%;
    right: 70%;
    height: 500px;
    width: 41.5%;
    top:30.5%;
    border: 5px solid black;
}
.rating{
    position: absolute;
    left:30%;
    right:70%;
    width: 20.75;
    top: 1000px;
}